.radius-1 {
    border-radius: 1px !important;
}

.radius-2 {
    border-radius: 2px !important;
}

.radius-3 {
    border-radius: 3px !important;
}

.radius-4 {
    border-radius: 4px !important;
}

.radius-5 {
    border-radius: 5px !important;
}

.radius-6 {
    border-radius: 6px !important;
}

.radius-7 {
    border-radius: 7px !important;
}

.radius-8 {
    border-radius: 8px !important;
}

.radius-9 {
    border-radius: 9px !important;
}

.radius-10 {
    border-radius: 10px !important;
}

.radius-11 {
    border-radius: 11px !important;
}

.radius-12 {
    border-radius: 12px !important;
}

.radius-13 {
    border-radius: 13px !important;
}

.radius-14 {
    border-radius: 14px !important;
}

.radius-15 {
    border-radius: 15px !important;
}

.radius-16 {
    border-radius: 16px !important;
}

.radius-17 {
    border-radius: 17px !important;
}

.radius-18 {
    border-radius: 18px !important;
}

.radius-19 {
    border-radius: 19px !important;
}

.radius-20 {
    border-radius: 20px !important;
}

.radius-21 {
    border-radius: 21px !important;
}

.radius-22 {
    border-radius: 22px !important;
}

.radius-23 {
    border-radius: 23px !important;
}

.radius-24 {
    border-radius: 24px !important;
}

.radius-25 {
    border-radius: 25px !important;
}

.radius-26 {
    border-radius: 26px !important;
}

.radius-27 {
    border-radius: 27px !important;
}

.radius-28 {
    border-radius: 28px !important;
}

.radius-29 {
    border-radius: 29px !important;
}

.radius-30 {
    border-radius: 30px !important;
}

.radius-t-1 {
    border-top-left-radius: 1px !important;
    border-top-right-radius: 1px !important;
}

.radius-t-2 {
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

.radius-t-2 {
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

.radius-t-3 {
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

.radius-t-4 {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.radius-t-5 {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.radius-t-6 {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.radius-t-7 {
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
}

.radius-t-8 {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.radius-t-9 {
    border-top-left-radius: 9px !important;
    border-top-right-radius: 9px !important;
}

.radius-t-10 {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
